.registerlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    h2 {
        margin-bottom: 1rem;
    }
    .table {
        width: 500px;
        height: 250px;
        outline: solid 0.1rem black;
        .th {
            font-weight: normal;
        }
    }
}
@media (max-width: 699px){
    .registerlist {
        .table {
            width: 250px;
            height: 300px;
        }
    }
}
@media (min-width: 1366px){
    .registerlist {
        .table {
            width: 600px;
            height: 400px;
        }
    }
}