#form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    .fieldset{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 500px;
        .inputsContainer{
            display: flex;
            flex-direction: column;
            margin: 0.5rem;
            label {
                font-size: 0.8rem;
            }
            input {
                width: 400px;
                height: 30px;
            }
        }
        .btnContainer button{
            margin: 1rem;
            width: 5rem;
        }
    }
}

@media (max-width: 600px){
    #form{
        .fieldset{
            height: 400px;
            width: 330px;
            .inputsContainer input {
                width: 300px;
                height: 30px;
            }
        }
    }
}