.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65vw;
    margin: 0.5rem 0;
    label {
        color: #010101;
        font-size: 1.1rem;
        width: 100%;
        margin-bottom: 0.2rem;
    }
    input {
        color: #010101;
        font-size: 1rem;
        border: none;
        border-bottom: solid 0.1rem #010101;
    }
}